/*

	OmgekeerdeROI.nl met Sass en Bootstrap Theme
	Author:	Reza Fitriaman
	Version:	0.0.1

*/
/* LAYOUTS - Page layouts styles */
/* line 1, ../scss/layouts/_colour.scss */
.bg-color-dark {
  background-color: #272727;
}

/* line 5, ../scss/layouts/_colour.scss */
.bg-color-green {
  background-color: lightgreen;
}

/* line 9, ../scss/layouts/_colour.scss */
.color-white {
  color: white;
}

/* line 1, ../scss/layouts/_jumbotron.scss */
.jumbotron {
  background-color: lightblue;
  background-attachment: fixed;
  background-size: 100% auto;
  margin-botom: 0px;
  min-height: 500px;
}

/* line 9, ../scss/layouts/_jumbotron.scss */
.name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

/* line 17, ../scss/layouts/_jumbotron.scss */
.intro-text {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

/* line 1, ../scss/layouts/_margin.scss */
.margin-right-5 {
  margin-right: 5px;
}

/* line 5, ../scss/layouts/_margin.scss */
.margin-bottom-50 {
  margin-bottom: 50px;
}

/* line 9, ../scss/layouts/_margin.scss */
.bottom-message-section {
  margin-top: 10%;
}

/* line 13, ../scss/layouts/_margin.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, ../scss/layouts/_margin.scss */
.center {
  margin: 0 auto !important;
  float: none !important;
}

/* line 1, ../scss/layouts/_padding.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 5, ../scss/layouts/_padding.scss */
.padding-top-15 {
  padding-top: 15px;
}

/* line 9, ../scss/layouts/_padding.scss */
.padding-top-80 {
  padding-top: 80px;
}

/* line 13, ../scss/layouts/_padding.scss */
.padding-top-40 {
  padding-top: 40px;
}

/* line 17, ../scss/layouts/_padding.scss */
.padding-bottom-50 {
  padding-bottom: 50px;
}

/* line 21, ../scss/layouts/_padding.scss */
.padding-bottom-30 {
  padding-bottom: 30px;
}

/* line 25, ../scss/layouts/_padding.scss */
.padding-bottom-80 {
  padding-bottom: 80px;
}

@media all and (max-width: 1200px) {
  /* screen size until 1200px */
  /* line 2, ../scss/layouts/_typografie.scss */
  body {
    font-size: 1.5em;
    /* 1.5x default size */
  }
}
@media all and (max-width: 1000px) {
  /* screen size until 1000px */
  /* line 7, ../scss/layouts/_typografie.scss */
  body {
    font-size: 1.2em;
    /* 1.2x default size */
  }
}
@media all and (max-width: 500px) {
  /* screen size until 500px */
  /* line 12, ../scss/layouts/_typografie.scss */
  body {
    font-size: 1.0em;
    /* 0.8x default size */
  }
}
/* line 17, ../scss/layouts/_typografie.scss */
.name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

/* line 25, ../scss/layouts/_typografie.scss */
.tools {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: 500;
}

/* line 33, ../scss/layouts/_typografie.scss */
.intro-text {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

/* line 39, ../scss/layouts/_typografie.scss */
.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

/* line 45, ../scss/layouts/_typografie.scss */
.woorden {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
